body{
    background:black;
    background-image: url(css/giphy.jpg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

} 

.giphy_images{
    margin: 5%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    
}

button{
    font-weight: bold;
    background: red;
    margin-top: 5%,
}


.giphy_search{
    margin-left: 5%;
    margin-top: 2%;
    padding: 1%;
}

input{
    margin-top: 2%;
    margin-left: 4%;
    padding: 1.5%;
}